langchain
python-dotenv
langchain_community
pypdf
arxiv
yt_dlp
langchain-text-splitters
langchain_huggingface
langchain_ollama
faiss-cpu
langchain_chroma
langchain_groq
uvicorn
langserve
sse_starlette
validators
pytube
youtube-transcript-api
unstructured